///////////////////
// GRID SETTINGS
/////////////
$grid-columns: 12;
$grid-gutter: 1.5%;
$grid-width: 100% / $grid-columns;

///////////////////
// SOME MATH (you won't have to do anything with it!)
/////////////
@function col($n) {
  @return ($grid-width * $n) - ($grid-gutter * 2);
}
